/Toistoharjoittelua/nbproject/private/
/Toistoharjoittelua/build/
/Toistoharjoittelua/Toistoharjoittelua/nbproject/private/
/Toistoharjoittelua/Toistoharjoittelua/build/
/Toistoharjoittelua/dist/
/Toistoharjoittelua/JavaApplication2/
/Toistoharjoittelua_orig/
